body {
	/* background: linear-gradient(to left, #00febc, #31f1c3, #31b9f1, #655b95, #aa4dbc, #d71a92, #d71a26, #bfd71a, #d79c1a, #d7511a, #e71717,
        #d7511a, #d79c1a, #bfd71a, #d71a26, #d71a92, #aa4dbc, #655b95, #31b9f1, #31f1c3, #00febc);
	background-size: 1500%, 1500%;
	animation: gradflow 240s linear infinite; */	
}

.form-wrapper {
	margin: 20px;
    border: 1px solid #f0f0f0;
	border-radius: 4px;
	padding: 20px;
	height: auto;
	background: linear-gradient(to right top, #d75a88, #ff7e71, #ffb25f, #ffeb68);
	/* background-size: 600% 600%; */
	/* animation: gradflow 30s ease infinite; */
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: linear-gradient(to left, #00febc, #31f1c3, #31b9f1, #655b95, #aa4dbc, #d71a92, #d71a26, #bfd71a, #d79c1a, #d7511a, #e71717,
        #d7511a, #d79c1a, #bfd71a, #d71a26, #d71a92, #aa4dbc, #655b95, #31b9f1, #31f1c3, #00febc);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

@keyframes gradflow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}