﻿@model SKF.WebApplication.Models.BenefitModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Benefit</h2>

<h4>Benefit Model</h4>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AssociatedMarkovStateID" class="control-label"></label>
                    <input asp-for="AssociatedMarkovStateID" class="form-control" />
                    <span asp-validation-for="AssociatedMarkovStateID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BenefitType" class="control-label"></label>
                    <input asp-for="BenefitType" class="form-control" />
                    <span asp-validation-for="BenefitType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddSubtract" class="control-label"></label>
                    <input asp-for="AddSubtract" class="form-control" />
                    <span asp-validation-for="AddSubtract" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="AssociatedMark">Associated Mark</label>
            <input type="text" class="form-control" id="AssociatedMark" asp-for="AssociatedMarkovStateID" placeholder="Associated Mark">
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="BenefitType">Benefit Type</label>
            <input type="text" class="form-control" id="BenefitType" asp-for="BenefitType" placeholder="BenefitType">
            <span asp-validation-for="BenefitType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="AddSubtract">Add Subtract</label>
            <input type="text" class="form-control" asp-for="AddSubtract" id="AddSubtract" placeholder="Add Subtract">
            <span asp-validation-for="AddSubtract" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="Value">Value</label>
            <input type="text" class="form-control" asp-for="Value" id="Value" placeholder="Value">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Create" class="btn btn-dark btn-block" />    
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
