﻿@model SKF.WebApplication.Models.MarkovStatesModel

@{
    ViewData["Title"] = "CreateMarkovStates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Markov States</h2>

<h4>Markov States Model</h4>
<hr />

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="CreateMarkovStates">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Applicable Model ID</label>
                    <input asp-for="Applicable_ModelID" class="form-control" />
                    <span asp-validation-for="Applicable_ModelID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">To State ID</label>
                    <input asp-for="To_StateID" class="form-control" />
                    <span asp-validation-for="To_StateID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="From_StateID" class="control-label"> From State ID</label>
                    <input asp-for="From_StateID" class="form-control" />
                    <span asp-validation-for="From_StateID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Period" class="control-label"></label>
                    <input asp-for="Period" class="form-control" />
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@


<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-12">
        <label for="ApplicableModule">Application Module</label>
        <input type="text" class="form-control" id="ApplicableModule" asp-for="Applicable_ModelID" placeholder="Applicable Module">
        <span asp-validation-for="Applicable_ModelID" class="text-danger"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="FromStateID">From State ID</label>
            <input type="text" class="form-control" id="FromStateID" asp-for="From_StateID" placeholder="From State ID">
            <span asp-validation-for="From_StateID" class="text-danger"></span>

        </div>
        <div class="form-group col-md-6">
            <label for="ToStateID">To State ID</label>
            <input type="text" class="form-control" id="ToStateID" asp-for="To_StateID" placeholder="To State ID">
            <span asp-validation-for="To_StateID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Period">Period</label>
            <input type="text" class="form-control" id="Period" asp-for="Period" placeholder="Period">
            <span asp-validation-for="Period" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="Value">Value</label>
            <input type="text" class="form-control" id="Value" asp-for="Value" placeholder="Value">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <input type="submit" value="Create" class="btn btn-dark btn-block" formaction="/MarkovStates/CreateMarkovStates" />
    </div>
    @*<div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>*@
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary" formaction="/MarkovStates/UploadCSVFile">Submit</button>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>

<label>Uploaded File= @ViewData["FilePath"]</label>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
